<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chengfan.xiyou">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 点播播放器悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_ST ATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STAT E" />

    <!--阿里移动推送相关权限-->
    <!--Android 6.0版本可去除，用于选举信息（通道复用）的同步-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <!--进行网络访问和网络状态监控相关的权限声明-->
    <!--允许对sd卡进行读写操作-->
    <!--网络库使用，当网络操作时需要确保事务完成不被杀掉-->
    <!--用于读取手机硬件信息等，用于机型过滤-->
    <!--选举使用，当应用有删除或者更新时需要重新选举，复用推送通道-->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!--补偿通道小米PUSH使用，不用可去除-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--补偿通道GCM使用，不使用可去除-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--允许监听启动完成事件-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--允许访问震动器-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- MeiZu 配置开始 < -->
    <!-- 兼容 flyme5.0 以下版本，魅族内部集成 pushSDK 必填，不然无法收到 消息-->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
    <permission
        android:name="com.chengfan.xiyou"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.chengfan.xiyou" />
    <!-- 兼容 flyme3.0 配置权限-->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
    <!-- MeiZu 配置结束 < -->

    <!--oppo-->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />

    <!-- 小米 配置开始 < -->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" /> <!-- 小米 配置结束 < -->

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".ui.UIApplication"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <activity android:name=".ui.login.WeiXingActivity" />
        <activity android:name=".ui.search.Web2Activity" />
        <activity android:name=".ui.accompany.AccomPanyActivity" />
        <activity android:name=".ui.main.SubmitLabelActivity" />
        <activity android:name=".ui.main.AddcontexActivity" />
        <activity android:name=".view.WebKeFuActivity" />
        <activity android:name=".ui.chat.Web2Activity" />
        <activity android:name=".ui.mine.order.AutonymtrueforflaseActivity2" />

        <receiver
            android:name=".ui.CharNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.WebActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentStatusTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity android:name=".ui.mine.order.AutonymActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chengfan.xiyou.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask">


        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".ui.mine.order.AutonymtrueforflaseActivity" />
        <activity
            android:name=".ui.WelComeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.IsBoundActivity"></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.complete.CompleteSexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.complete.CompleteInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.complete.CompleteVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.complete.CompleteOverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data -->
            <!-- android:host="com.chengfan.xiyou" -->
            <!-- android:pathPrefix="/conversation/" -->
            <!-- android:scheme="rong" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.accompany.AccompanyGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accompany.AccompanyMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accompany.AccompanyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusTheme" />
        <activity
            android:name=".ui.accompany.AccompanyUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accompany.AccompanyOrderSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accompany.AccompanyConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accompany.AccompanyOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineEditInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineAttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineFansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineInviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineFamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineAboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineAddPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineAddPlayActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineCrateFamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineAboutDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dynamic.DynamicIssuedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatFamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatCreateGroupActivity"
            android:screenOrientation="portrait" />

        <!--融云消息通知-->
        <activity
            android:name=".ui.chat.ChatRongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.chengfan.xiyou"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.chat.ChatGroupDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatGroupAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatFamilyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.order.MineOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dynamic.DynamicDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusTheme" />
        <activity android:name=".ui.chat.WebActivity" /> <!-- 配置APP ID -->


        <!-- 消息接收监听器 （用户可自主扩展） -->
        <receiver
            android:name=".receiver.MyMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>


        <!--阿里云推送消息服务-->

        <!-- 通道保持服务 -->
        <service
            android:name="com.alibaba.sdk.android.push.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="taobao" />
            </intent-filter>
        </service>
        <!-- 消息接收服务 -->
        <service
            android:name="com.alibaba.sdk.android.push.MsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION" />
            </intent-filter>
        </service>
        <!-- 消息接收增强服务（可提高通知/消息达到率）-->
        <service
            android:name="com.alibaba.sdk.android.push.channel.TaobaoRecvService"
            android:exported="true">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>


        <service
            android:name=".receiver.MyMessageIntentService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.taobao.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </service>


        <!-- 小米 配置开始 < -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.push.platform.mi.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 小米 配置结束 < -->


        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="您的华为 AppKey" />
        <!-- BridgeActivity定义了HMS-SDK中一些跳转所需要的透明页面-->
        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <!-- 解决华为移动服务升级问题的透明界面（必须声明）-->
        <activity
            android:name="com.huawei.android.hms.agent.common.HMSAgentActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="xxx.xxx.xxx.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true"></provider>
        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
        <receiver android:name="io.rong.push.platform.hms.HMSReceiver">
            <intent-filter>
                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>
                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>


        <!-- MeiZu 配置开始 < -->
        <receiver android:name="io.rong.push.platform.meizu.MeiZuReceiver">
            <intent-filter>
                <!-- 接收 push 消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收 register 消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收 unregister 消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                />
                <!-- 兼容低版本 Flyme3 推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="您的包名" />
            </intent-filter>
        </receiver>
        <!-- MeiZu 配置结束 < -->


        <!--oppo推送服务配置开始-->
        <service
            android:name="com.coloros.mcssdk.PushService"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>
        <!--oppo推送服务配置结束-->



        <!-- vivo 推送服务需要配置的 service、activity -->
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true"/>
        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- vivo push 推送 receiver 声明 -->
        <receiver android:name="io.rong.push.platform.vivo.VivoPushMessageReceiver" >
            <intent-filter>
                <!-- 接收 vivo push 消息 -->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>













        <!-- vivo 推送配置项 -->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="您的 vivo 推送平台生成 AppKey"/>
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="您的 vivo 推送平台生成 AppID"/>


        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6593b1a9334cd1a34bd5099e1e88f3fe" />


        <!-- 自适应布局 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="370" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1179" />

        <!-- 异常上报配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="91ac30603c" />
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.0" />


        <!-- 阿里推送请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="27807408" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="b76bbba4a03f6ff01d0006247f5085b1" /> <!-- 请填写你自己的appSecret -->
    </application>


</manifest>