<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chengfan.xiyou">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 点播播放器悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_ST ATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STAT E" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".ui.UIApplication"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <activity android:name=".ui.search.Web2Activity"></activity>
        <activity android:name=".ui.accompany.AccomPanyActivity"></activity>
        <activity android:name=".ui.main.SubmitLabelActivity" />
        <activity android:name=".ui.main.AddcontexActivity" />
        <activity android:name=".view.WebKeFuActivity" />
        <activity android:name=".ui.chat.Web2Activity" />
        <activity android:name=".ui.mine.order.AutonymtrueforflaseActivity2" />
        <activity
            android:name=".ui.WebActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentStatusTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6593b1a9334cd1a34bd5099e1e88f3fe" />

        <activity android:name=".ui.mine.order.AutonymActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="370" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1179" /> <!--  -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chengfan.xiyou.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <activity android:name=".wxapi.WXEntryActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".ui.mine.order.AutonymtrueforflaseActivity" />
        <activity
            android:name=".ui.WelComeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.complete.CompleteSexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.complete.CompleteInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.complete.CompleteVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.complete.CompleteOverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data -->
            <!-- android:host="com.chengfan.xiyou" -->
            <!-- android:pathPrefix="/conversation/" -->
            <!-- android:scheme="rong" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.accompany.AccompanyGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accompany.AccompanyMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accompany.AccompanyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusTheme" />
        <activity
            android:name=".ui.accompany.AccompanyUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accompany.AccompanyOrderSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accompany.AccompanyConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.accompany.AccompanyOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineEditInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineAttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineFansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineInviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineFamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineAboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineAddPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineAddPlayActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineCrateFamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineAboutDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dynamic.DynamicIssuedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatFamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatCreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatRongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.chengfan.xiyou"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.chat.ChatGroupDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatGroupAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatFamilyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.order.MineOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dynamic.DynamicDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusTheme" />
        <activity android:name=".ui.chat.WebActivity" /> <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="91ac30603c" /> <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.0" />
    </application>

</manifest>